html,
body,
#app {
  padding: 0;
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 62px;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

body::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--scrollbar-thumb-color);
  cursor: pointer;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

body::-webkit-scrollbar-corner {
  background-color: transparent;
}

.dark img {
  filter: blur(0px) brightness(0.8);
}
