@import './markdown.css';
@import './prism.css';

html,
body,
#app {
  padding: 0;
  margin: 0;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar, .custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

body::-webkit-scrollbar-track, .custom-scrollbar::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb, .custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--scrollbar-thumb-color);
  cursor: pointer;
}

body::-webkit-scrollbar-thumb:hover, .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

body::-webkit-scrollbar-corner, .custom-scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}

input::-ms-clear, input::-ms-reveal{
  display: none;
}

button, [type='button'] {
  background-color: var(--primary-color);
}
